<article>
    <p>
        If you have been acting on all of the previous lessons, take some time to be mindful of how much progression you have made.
        <strong>In this lesson, we will discuss what progression really means and how to make larger strides.</strong>
    </p>

    <section>
        <h1>Progression</h1>
        <p class="caption">Seek More</p>
        <figure class="fullwidth">
            <img src="https://gallery.mailchimp.com/f0f955bc59f272fc94ff6d1a3/images/ef58b14c-ab5a-491e-9016-3daf53b4bfef.jpg" alt="A snowcapped mountain behind a lush alpine forest"
            />
        </figure>

        <p>One misconception is that if you make something better, it means that it wasn't good before. This is a common thought
            when it comes to receiving feedback, but it is also flawed thinking. An Olympic runner was not a bad runner before simply
            because they recently beat their best time. They were a fantastic runner, but now they are even better.</p>

        <p>The purpose of Everflect is to take good couples and give them an opportunity to be better. In order for Everflect
            to work, both spouses must be accepting of the fact that progression is positive.</p>

        <p>As we discussed in our very first lesson, it is important to see yourself as you want to be. It is also, however,
            equally important to see your spouse as the potential they have. As Stephen R. Covey states it, "
            <em>Treat a man as he is and he will remain as he is. Treat a man as he can and should be and he will become as he
                can and should be.</em>" As you give your spouse ideas on areas where they can improve each week, treat them
            as if they are already successful. They are much more likely to become who they are meant to be if you already
            see it in them.</p>

        <p>As we discussed last week, it is critical that you do not get caught up in your goals to such a degree that you stop
            living in the now. Progression is not a target to hit, but rather a fluid that runs through you daily, purifying
            who you are. Although making goals gives you a way to define abstract hopes, be wary of focusing so much on them
            that you miss the actual progression pathway getting you there.</p>

        <blockquote>
            "The more you aim at [success] and make it a target, the more you are going to miss it. For success, like happiness, cannot
            be pursued; it must ensue, and it only does so as the unintended side effect of one's personal dedication to
            a cause greater than oneself or as the by-product of one's surrender to a person other than oneself... Then you
            will live to see that in the long-run--in the long-run I say!-- success will follow you precisely because you
            had forgotten to think about it."
            <footer>Victor Frankl
                <label for="sn-greater-cause" class="margin-toggle sidenote-number">
                </label>
                <input type="checkbox" id="sn-greater-cause" class="margin-toggle" />
                <span class="sidenote">Frankl, Viktor E. Man's Search for Meaning: An Introduction to Logotherapy. New York: Simon &amp; Schuster,
                    1984. Print</span>
            </footer>
        </blockquote>

        <p>Your goals and progression can not be motivated by success and achievement if you want to actually reach your destination.
            They must be motivated by the pure love of your "big rocks" and “greater causes."</p>

        <p>Embrace progression in your relationship and let it live through you. Try not to get caught up with the ways that
            you are "missing the target" of a perfect couple, but find ways to surrender yourself to a cause greater than
            yourself. In the long-run with a lot of practice in purifying your ability to Everflect, you will be able to
            look back and see the progression you had forgotten you were even seeking in the first place. Or maybe even more.</p>

    </section>

    <figure class="fullwidth">
        <img src="https://gallery.mailchimp.com/f0f955bc59f272fc94ff6d1a3/images/1aec40fe-fe76-4221-80b2-860f4cbf26ba.jpg" alt="A blank sketchbook with a pencil on a wooden floor"
        />
    </figure>

    <section>
        <h1>Activity</h1>

        <p>
            Take some time during the "discuss the strength of your relationship" section of Everflect to discuss how far you have come
            in the time that it has taken you to complete this 10-week course. If you are willing to share, we would love
            to hear from you. E-mail us at
            <a href="mailto:hello@everflect.com">hello@everflect.com</a> or comment on one of our social media pages.
        </p>



        <h2>Pro Tip</h2>
        <p>Now that you habitually Everflect on a weekly basis, there are many ways you can expand those skills into a more
            comprehensive weekly planning. Planning is a skill which, although not perfect, significantly reduces the chances
            for missed expectations throughout the week.</p>

        <p>Weekly planing goes beyond the relationship conversation and into the more mundane but necessary tasks of life. Here
            are a couple of ideas of things to go over during your weekly planning which could feasibly take place before
            or after Everflecting each week:</p>

        <ol>
            <li>The schedule</li>
            <ul>
                <li>Use a central calendar (physical or virtual) and go through each day of the upcoming week. Make sure you
                    both know what will be happening in everyone else's life at any given time of the week. Discuss when
                    family members can support one another by attending their activities. Use this time to plan at least
                    one date night activity for the week. </li>
            </ul>

            <li>Assignments</li>
            <ul>
                <li>A household is often much like a beehive with a long list of to-dos and honey-dos. Take time to discuss household
                    needs and make assignments for who will accomplish which chore on which day. It is helpful to have this
                    written down in a central location, so that everyone knows where to look to know what is expected of
                    them for the week.</li>
            </ul>

            <li>The Meal Plan</li>
            <ul>
                <li>Make a list of meals you would like to make this week and plan out which day you will make them (and who
                    will be cooking).</li>
            </ul>

            <li>The Budget</li>
            <ul>
                <li>Review where you are at in your financial goals and what you are going to do to reach them.</li>
            </ul>

            <li>Individual Family Members</li>
            <ul>
                <li>Discuss the needs and progression of each family member.</li>
            </ul>

            <li>Service</li>
            <ul>
                <li>Discuss what your family is doing to serve others this week and make plans to follow through.</li>
            </ul>
        </ol>

        <hr/>
    </section>
    <section>

        <figure class="fullwidth">
            <img src="https://gallery.mailchimp.com/f0f955bc59f272fc94ff6d1a3/images/99d984f3-9abf-4eb6-9c21-d13ef549d70e.jpg" alt="Piles of closed and open books"
            />
        </figure>
        <h1>Suggested Study</h1>
        <ul>
            <li>
                <em>Man's Search for Meaning</em> by Viktor E. Frankl </li>
        </ul>
    </section>
    <section>

        <figure class="fullwidth">
            <img src="https://gallery.mailchimp.com/f0f955bc59f272fc94ff6d1a3/images/eeee3931-932c-4c6d-9380-1f0b35fd1b8e.jpg" alt="A road through a red rock wilderness"
            />
        </figure>

        <h1>Conclusion</h1>

        <p>We hope that your experience Everflecting and completing this 10 week how-to couple’s coursework has been uplifting
            and worthwhile. We appreciate the time you have taken for your marriage.</p>

        <p>This was put together because your marriage matters. Please remember that your relationship and your marriage matter.</p>

        <p>Please send us any thoughts or feedback to
            <a href="mailto:hello@everflect.com">hello@everflect.com</a>
        </p>
    </section>
</article>