<article>
    <p>In the last lesson, we discussed how to "see yourself" and set meaningful goals. We focused primarily on how to see yourself
        as you want to become. In order to achieve that vision, however, you have to start where you are.
        <strong>In this lesson, we will discuss the benefits of being vulnerable with yourself and vulnerable with your spouse.</strong>
    </p>

    <h1>Vulnerability</h1>
    <p class="subtitle">Open Up and Open In</p>
    <figure class="fullwidth">
        <img src="https://gallery.mailchimp.com/f0f955bc59f272fc94ff6d1a3/images/045e4a83-06a0-4a95-8b69-dae8b4ea7a90.jpg" alt="A woman expressing multiple emotions in three frames"
        />
    </figure>

    <blockquote>
        <p>"Daring greatly means the courage to be vulnerable. It means to show up and be seen. To ask for what you need. To
            talk about how you're feeling. To have the hard conversations."</p>
        <footer>- Brené Brown
            <label for="sn-daring-greatly" class="margin-toggle sidenote-number">
            </label>
            <input type="checkbox" id="sn-daring-greatly" class="margin-toggle" />
            <span class="sidenote">Brown, C. Brené.
                <em>Daring Greatly: How the Courage to Be Vulnerable Transforms the Way We Live, Love, Parent, and Lead</em>.
                New York, N.Y.: Gotham, 2012.</span>
        </footer>
    </blockquote>

    <p>Your effectiveness at every step of Everflect is completely muted if both partners are not willing to be vulnerable. This
        applies to both the positive and negative emotions that come up when you Everflect. You can not have the fullness
        of one side without the other. You will find that as you are more vulnerable with your needs, fears, frustrations
        and disappointments, you will also embrace more fully your satisfaction, accomplishments, joys and successes. </p>

    <p>Being vulnerable in a partnership is multi-faceted. First, you must open up to yourself before you will be able to open
        up to your spouse. As you come to be more familiar with your actual emotions and thoughts, you are better equipped
        to share them.</p>

    <p>Strangely enough, being vulnerable also creates less conflict when you are self-aware. When your spouse says, “I would appreciate
        it if you put your phone down when I am talking to you,” your non-vulnerable self is likely to blame and become defensive: “I
        can multitask! It's not like I'm not listening!”</p>

    <p>On the other hand, if you have opened up to yourself, you will be able to open up better to your spouse: “I'm embarrassed
        by the fact that I am so addicted to my phone. I sometimes feel like it's not that big of a deal, but I know it's
        a weakness of mine and you've expressed that it matters to you, so I will try.”</p>

    <p>Next, you will need to open yourself up to being receptive to your spouse's vulnerability. If you expect to be safely
        vulnerable with them, you must be a safe place yourself. This goes beyond being a good listener - you must also be
        a good responder. This doesn't mean that you close your eyes and mouth to every painful or embarrassing vulnerability
        that your spouse shares with you. Quite the opposite - it means that they will be able to trust that you will share
        exactly how it makes you feel.</p>

    <p>Your spouse may say, "I need to be vulnerable about something. Earlier today, I got upset with our son and I yelled at
        him."
    </p>

    <p>In response, acknowledge the courage it took for your spouse to share that with you, and respond back with sincere respect
        by saying something such as, "I'm frustrated that you would yell at him - especially since we made a plan for how
        we want to discipline him - but I'm grateful that you were honest with me. I'd really appreciate it if you stuck
        with our plan next time."</p>

    <p>Acknowledging your spouse's vulnerability prior to expressing your own is vital to promoting a safe atmosphere that can
        ultimately bring you closer as a couple.</p>

    <p>The same principles apply to sharing positive vulnerabilities. As Dale Carnegie, author of
        <em>How to Win Friends and Influence People,</em> says, "The difference between appreciation and flattery? That is simple.
        One is sincere and the other is insincere. One comes from the heart out; the other from the teeth out. One is unselfish,
        the other selfish." Ironically enough, sometimes it's easier for couples to be vulnerable in the feedback and conflict
        sections of Everflect than it is in the section where you express appreciation. Be sincere and vulnerable in all
        steps as you Everflect, but especially as you appreciate your spouse's unique qualities and actions.</p>

    <p>The mission of Everflect is to bring you closer and put you more on the same page each week. By sharing your vulnerability
        with your spouse, as well as validating your spouse's vulnerability, Everflect will become more meaningful. Vulnerability
        can be terrifying, which is why it takes courage. A meaningful Everflect session takes courage. If you take the necessary
        steps to create a more vulnerable couple's council by sharing both your positive and negative feedback sincerely,
        you will see new light in your relationship each week as you continue to grow closer.</p>

    <figure class="fullwidth">
        <img src="https://gallery.mailchimp.com/f0f955bc59f272fc94ff6d1a3/images/ef58b14c-ab5a-491e-9016-3daf53b4bfef.jpg" alt="A snowcapped mountain behind a lush alpine forest"
        />
    </figure>

    <h1>Activity</h1>
    <p>When you Everflect this week, take turns asking "What was your most vulnerable thought this week?" and then listen with
        love. Remember that vulnerability is courage.</p>

    <h2>Pro Tip:</h2>
    <p>Make asking the above question part of your daily routine. A great time to try it is as you both get ready for bed. If
        done with love, it can be a great conversation starter for some meaningful pillow-talk.</p>

    <figure class="fullwidth">
        <img src="https://gallery.mailchimp.com/f0f955bc59f272fc94ff6d1a3/images/99d984f3-9abf-4eb6-9c21-d13ef549d70e.jpg" alt="Piles of closed and open books"
        />
    </figure>

    <h1>Suggested Study</h1>
    <ul>
        <li>
            <em>Daring Greatly</em> and other works by Brené Brown</li>
    </ul>

    <figure class="fullwidth">
        <img src="https://gallery.mailchimp.com/f0f955bc59f272fc94ff6d1a3/images/eeee3931-932c-4c6d-9380-1f0b35fd1b8e.jpg" alt="A road through a red rock wilderness"
        />
    </figure>

</article>