<article>
    <p>
        In the last lesson, we discussed vulnerability. Some behaviors that you grew up with may have affected your ability to be
        vulnerable with your spouse and, in turn, your ability to effectively communicate with them.
        <strong>In this lesson, we will build upon vulnerability by learning to communicate exactly what you feel and mean.</strong>
    </p>

    <h1>Communication</h1>
    <p class="caption">Drop the Hint Dropping</p>
    <figure class="fullwidth">
        <img src="https://gallery.mailchimp.com/f0f955bc59f272fc94ff6d1a3/images/71915588-79df-4967-a07e-12713438065f.jpg" alt="A child winking"
        />
    </figure>
    <section>
        <p>One of the goals of Everflect is to facilitate good communication between spouses on a weekly basis. However, there
            are several learned behaviors that may be blocking your communication and therefore diminishing your Everflect
            experience. One common communication road block is “hint-dropping.”</p>

        <p>Have you ever been on a long road trip and loudly proclaimed, "It's hot in here!" and subsequently waited for the
            driver to turn on the air conditioning? Or maybe you've exclaimed, "It's a mess!" after tripping over laundry
            on your way to bed and then watched in frustration as your spouse walked around the pile instead of putting it
            away? Or what about that time you reminded your spouse, "We need to call and make an appointment with the doctor
            tomorrow," but what you really meant was, "I want
            <em>you</em> to call and make an appointment with the doctor tomorrow ." Or perhaps you've slipped in the viral phrase
            "Hm... cute, I wish I could get it…but..." with the longing and hope to receive such item.</p>

        <p>All of these are called hint-dropping. The strong sniffing with the expectation that someone will take out the trash?
            Hint-dropping. The "I don't care" when you're asked which movie you want to watch while secretly hoping they
            choose the Emma Watson flick? Hint-dropping. What about the huffing and puffing that comes when your spouse starts
            talking about the budget? Hint-dropping.
        </p>

        <p>In order to have a successful Everflection you need to drop the hint-dropping. In short, hint-dropping creates unvoiced
            rifts in expectations and results in mounting frustration.</p>

        <p>There is, however, a solution that Dr. John L. Lund calls "content communicating".
            <label for="sn-content-communication" class="margin-toggle sidenote-number">
            </label>
            <input type="checkbox" id="sn-content-communication" class="margin-toggle" />
            <span class="sidenote">Lund, John L.
                <em>For All Eternity: Practical tools for strengthening your marriage, Covenant, 2003</em>
            </span>
        </p>
        <p>Content communication simply means that you "say what you mean and mean what you say."
            <em>Literally</em>. As a couple, you come to the agreement that you can take each other at your word. This means
            that when they say "I really appreciated how you cleaned the kitchen this week", it won't mean "You never clean
            the kitchen, you always do it wrong anyway, and I really wish that you cleaned the kitchen every night not just
            one night!” It
            <em>really</em> does mean that they appreciate that you cleaned the kitchen.</p>
        <blockquote>
            <p>"Communication is the process or way we transfer information... so that it is received and understood. Received
                and understood are key words. It is only communication - real communication - if information is received
                and understood."</p>
            <footer>- Paula Fellingham
                <label for="sn-two-way-comm" class="margin-toggle sidenote-number">
                </label>
                <input type="checkbox" id="sn-two-way-comm" class="margin-toggle" />
                <span class="sidenote">Fellingham, Paula Noble.
                    <em>Solutions for Families, Executive Excellence Publishing, 1999</em>
                </span>
            </footer>
        </blockquote>
        <p>Being on the same page with content communication makes a world of a difference. You no longer have to waste willpower
            trying to decipher what your spouse really wants. If they want it, they'll say it. And when they say it, they
            mean it. And no, it doesn't mean less if you have to ask for it!</p>

        <p>Content communication takes practice and patience. You may find yourself hint-dropping on a regular basis without
            meaning to. The key is to be self-aware and continue practicing vulnerability. If you didn't communicate exactly
            what you expect with exact words, then you certainly have no place holding your spouse to those expectations.
            As you Everflect this week, take particular caution to avoid hint-dropping and instead communicate exactly what
            you mean and mean exactly what you say. It takes self-awareness to catch yourself fuming over a missed hint-drop,
            but give it a try! </p>
    </section>
    <hr/>
    <figure class="fullwidth">
        <img src="https://gallery.mailchimp.com/f0f955bc59f272fc94ff6d1a3/images/1aec40fe-fe76-4221-80b2-860f4cbf26ba.jpg" alt="A blank sketchbook with a pencil on a wooden floor"
        />
    </figure>
    <section>
        <h1>Activity</h1>
        <p>Sit down together and list out all of the times that you expressed an expectation since your last Everflect session.
            You may be surprised to find that you both hint-drop more often than you thought.</p>

        <p>How did you hint-drop? Did you use gestures like snapping fingers or a wink? Did you use sounds like a grunt or a
            snort? Did you use indirect words ('Hm. Cute. I wish I could get it, but...")? Did you use some sort of magic
            like telepathy? That would be cool, but unfortunately it's never worked for us. Cross out any time that you didn't
            use the
            <em>exact</em> words that would describe your expectation. Laugh about your hint-dropping skills and then resolve
            to content communicate more the next week.</p>

        <p>Share your funniest g-rated hint-dropping moments with us by emailing
            <a href="mailto:hello@everflect.com">hello@everflect.com</a> or by commenting on one of our social media sites!</p>

        <h2>Pro Tip</h2>
        <p>After doing the above activity, take some extra time to re-word those hint-drops into exact, specific requests and
            ask your spouse to repeat back in other words what they think you meant. For example, if you said “something
            stinks!” in the hopes that your spouse would change that dirty diaper, rephrase it: “I have changed a lot of
            diapers today, and I would really appreciate it if you changed this one before we leave.”</p>

        <figure class="fullwidth">
            <img src="https://gallery.mailchimp.com/f0f955bc59f272fc94ff6d1a3/images/99d984f3-9abf-4eb6-9c21-d13ef549d70e.jpg" alt="Piles of closed and open books"
            />
        </figure>
    </section>
    <section>
        <h1>Suggested Study</h1>
        <ul>
            <li>
                <em>For all Eternity</em> by Dr. John L. Lund</li>
        </ul>

        <figure class="fullwidth">
            <img src="https://gallery.mailchimp.com/f0f955bc59f272fc94ff6d1a3/images/eeee3931-932c-4c6d-9380-1f0b35fd1b8e.jpg" alt="A road through a red rock wilderness"
            />
        </figure>
    </section>
</article>