<article>
    <p>
        Last week we discussed validation. Being able to validate what your spouse says is important, but it is also important to
        validate what your spouse needs in order to feel loved.
        <strong>In this lesson, we will discuss ways in which you can speak the love language of your spouse while you Everflect.</strong>
    </p>

    <h1>Love Languages</h1>
    <p class="caption">Increase Your Fluency</p>
    <figure class="fullwidth">
        <img src="https://gallery.mailchimp.com/f0f955bc59f272fc94ff6d1a3/images/583fbfaf-599f-4359-a169-9cfe8b9cd961.jpg" alt="A silhouette of a couple kissing"
        />
    </figure>
    <section>
        <p>Love languages help us to identify and communicate some of our more abstract emotional needs. It is important that
            you seek out and try to speak the “love language" of your spouse - especially when you Everflect. If someone
            does not feel loved, they are unlikely to follow through with any of the previous skills we've discussed thus
            far. They are also unlikely to understand the encouragement we give them towards getting on-board with those
            skills.
        </p>

        <p>As Gary Chapman notes,
            <em>"Encouragement requires empathy and seeing the world from your spouse's perspective. We must first learn what
                is important to our spouse. Only then can we give encouragement.</em>"</p>

        <p>The most common Love Languages are:</p>
        <ol>
            <li>Words of Affirmation</li>
            <li>Quality Time</li>
            <li>Receiving Gifts</li>
            <li>Acts of Service</li>
            <li>Physical Touch</li>
        </ol>

        <label for="sn-love-languages" class="margin-toggle sidenote-number">
        </label>
        <input type="checkbox" id="sn-love-languages" class="margin-toggle" />
        <span class="sidenote">Chapman, Gary D. The 5 Love Languages: The Secret to Love That Lasts. Chicago: Northfield Pub, 2010. Print.</span>

        <p>Even if you both have similar love-language priorities, you are unlikely to be equally fluent or have the same needs
            at the same time. More than likely, there are significant differences in your love language needs. Just as learning
            a foreign language is much easier when you are actually living in the country and practicing among natives, you
            should try to fully immerse yourself in your spouse's love language.</p>

        <p>The following are some specific examples of how you can communicate these love languages while you Everflect this
            week.
        </p>

    </section>
    <section>
        <h2>Words of Affirmation </h2>
        <p>If your spouse needs words of affirmation, you have a very specific opportunity when you Everflect to do exactly
            that. Pay close attention to how you go about telling your spouse the three specific things you appreciated about
            them this week. Take the time to look them in the eyes as you express what you love about them. Take extra care
            in portraying these with sincerity. Be specific. Hearing, "you are a great mom" each week may not sink as deep
            as, "This week you were a great mom because you took the time to listen when our daughter came home from school
            upset." Putting thought and detail into how you express your appreciation weighs heavier to someone who needs
            words of affirmation. At the end of your couple's council, end with a sincere, "I love you.”</p>

        <h2>Quality Time</h2>
        <p>Also conveniently, Everflect provides you with some quality time together. If your spouse craves this quality time,
            make sure to make it extra special. Find space away from any kids, TV, or other distractions. Don't rush the
            process. You may be pressed for time, but for the most part, whatever else is on your plate can wait. Prioritize
            this time with your spouse. Do your best to be present with your spouse, instead of thinking of everything that
            needs to get done when you finish. If you struggle with being stressed over time, choose a time to Everflect
            next week when you can have a lengthy, uninterrupted block to spend together. If there is a personal hobby getting
            in the way of the time you spend Everflecting, dropping or delaying that hobby could have a profound impact on
            how loved your spouse feels. </p>

        <h2>Receiving Gifts</h2>
        <p>There are simple ways that you can give a gift when you Everflect. Bring your spouse's favorite treat to snack on
            while you talk. Buy or make something special to give to them at the end of each week's discussion. If you haven't
            come prepared with a gift to Everflect with, you could also take some time to discuss setting aside a budget
            goal for one of your spouse's wishlist items. Sometimes this love language can come across as materialistic,
            but free or homemade gifts made with thought are meaningful to those who listen in this language. </p>

        <h2>Acts of Service</h2>
        <p>Actions as easy as clearing off the kitchen counter so that you have a place to talk without the distraction of clutter
            may be a loud "I love you" to someone who is fluent in this language. Assisting your spouse with the goals they
            make is another approach you could take. For example, if they make a goal to get the laundry done by Wednesday,
            you can take the time to help them fold laundry each night. Whatever service you chose to do, make sure it is
            done with a spirit of selflessness and love. </p>

        <h2>Physical Touch </h2>
        <p>There are so many seemingly simple ways to show love though physical touch, but to someone who speaks this language
            fluently - simple can mean the world. Hold your spouse's hand as you Everflect. Take some time to give them a
            shoulder massage as you reflect on your previous weeks goals or cuddle while you discuss the strength of your
            relationship. Even sitting side by side on the couch while you talk can mean a lot to some people after a crazy
            day.
        </p>

    </section>
    <section>
        <p>Just as any other language, speaking and understanding a Love Language takes practice and time. Take the time to
            study your spouse's language a little more today.</p>

        <p>Do you have more ideas for how you can speak a love language when you Everflect? Feel free to let us know by e-mailing
            <a href="mailto:hello@everflect.com">hello@everflect.com</a> or commenting on one of our social media pages.</p>
    </section>

    <figure class="fullwidth">
        <img src="https://gallery.mailchimp.com/f0f955bc59f272fc94ff6d1a3/images/61880bbb-f25a-4027-9b16-66d3f4a82eba.jpg" alt="Two hands making a heart shape"
        />
    </figure>

    <section>
        <h1>Activity</h1>
        <p>Take a moment to reflect and discuss with your spouse. Which love languages did you speak this week? Which ones did
            you listen in? What love language to you need to hear more of?</p>

        <h2>Pro Tip</h2>
        <p>Try getting all 5 love languages in sometime this week.</p>

        <hr/>
    </section>
    <section>

        <figure class="fullwidth">
            <img src="https://gallery.mailchimp.com/f0f955bc59f272fc94ff6d1a3/images/99d984f3-9abf-4eb6-9c21-d13ef549d70e.jpg" alt="Piles of closed and open books"
            />
        </figure>
        <h1>Suggested Study</h1>
        <ul>
            <li>
                <em>The Five Love Languages</em> by Dr. Gary Chapman</li>
        </ul>
    </section>
</article>