<article>
    <p>
        Have you been so focused on the progress you are striving to make that you are taking too much time thinking about what
        <em>could </em>be? It may be time to slow down and prioritize the characteristic of gratitude in your relationship.
        <strong>In this lesson, we will discuss the benefits of gratitude as well as some ways that you can implement it.</strong>
    </p>

    <section>
        <h1>Gratitude</h1>
        <p class="caption">Turn Outward</p>
        <figure class="fullwidth">
            <img src="https://gallery.mailchimp.com/f0f955bc59f272fc94ff6d1a3/images/fb22c304-dd40-4e2d-ae0b-92461a582c8b.jpg" alt="Two hands cupping a pile of acorns and seeds"
            />
        </figure>
        <p>Living with gratitude is a commonly discussed and often overlooked skill. It has been said time and time again that
            grateful people are happy people.There are many ways to be a more grateful person. Here are a few specific methods that
            you can use while you Everflect.
        </p>

        <h2>In regards to people</h2>
        <p>Everflect gives you a tool to express your gratitude to your spouse. Every week you find three things that you appreciate
            about them. If you have not already, you can discuss that section by using the phrase, "I'm grateful for you
            this week because..."
        </p>

        <p>This also applies in the section when you talk about the strength of your relationship. In this section, you can
            express gratitude for your marriage as a unit. "I'm grateful that our differences in background help us teach
            our children a variety of skills."</p>

        <p>However, gratitude is not lip service only: it is a feeling of sincere appreciation.</p>

        <h2>In regards to difficult matters</h2>
        <p>Gratitude does not change the fact that you will need to have some difficult conversations. An easy and common example
            is needing to talk about financial concerns. More than likely, conversations about money and budgets have come
            up in the Everflect section where you give each other feedback or talk about conflicts.</p>

        <p>It is important to have the hard monetary conversations, but it is equally important - if not more important - to
            focus on the good. If you have been constantly feeling the need to give your spouse suggestions when it comes
            to the budget, make sure it also comes up when you talk about your appreciation. Even if they could eat out less
            often, they may have biked to work to save on gas.</p>

        <p>This also applies to other hard conversations such as in-laws, parenting, or to-do lists. For example, if you are
            frustrated with an in-law relationship and need to be vulnerable with your spouse about that pain, make sure
            you are also being vulnerable with yourself by sharing the good you see in your in-law.</p>

        <h2>In regards to actions </h2>
        <p>Focusing on what you can't do is also a form of ingratitude. Watch out for "can't" statements in your relationship.
            Bringing back our easy example of budget concerns, you may have found yourself spending a lot of time talking
            about what you
            <em>can't</em> buy and what you
            <em>can't</em> afford. Learn to be grateful by focusing more on what you give than what you receive.</p>

        <p>No matter how little you have, there is always something you have to give. Even if you have no monetary surplus,
            you can give an old sweatshirt to a second hand store or give a young mother a break by babysitting her children for
            free.
        </p>

        <p>If complete selflessness isn't enough of a motivation to take the time to give, you may be interested in some research
            by Arthur C. Brooks:</p>


        <blockquote>
            <p>"If you have two families that are exactly identical—in other words, same religion, same race, same number of
                kids, same town, same level of education, and everything’s the same—except that one family gives a hundred
                dollars more to charity than the second family, then the giving family will earn on average $375 more in
                income than the nongiving family—and that’s statistically attributable to the gift."
                <label for="sn-gratitude-motivation" class="margin-toggle sidenote-number">
                </label>
                <input type="checkbox" id="sn-gratitude-motivation" class="margin-toggle" />
                <span class="sidenote">
                    <em>Brooks, Arthur C. Who really cares: the surprising truth about compassionate conservatism — America's
                        charity divide, who gives, who doesn’t, and why it matters. BasicBooks, 2007</em>
                </span>
            </p>
        </blockquote>

        <p>Discussing money is a stressful trigger for many couples, but you will find that if you discuss how you can give
            (and then actually give) you will be happier, healthier and potentially richer. You will certainly be richer
            in your relationship with your spouse. </p>

        <p>Gratitude can take many forms and expressing gratitude helps you comprehend your many blessings more solidly. Share
            gratitude by speaking, giving and serving. You will be uplifted if you do so sincerely. </p>

    </section>

    <figure class="fullwidth">
        <img src="https://gallery.mailchimp.com/f0f955bc59f272fc94ff6d1a3/images/1aec40fe-fe76-4221-80b2-860f4cbf26ba.jpg" alt="A blank sketchbook with a pencil on a wooden floor"
        />
    </figure>

    <section>
        <h1>Activity</h1>

        <p>Keep a gratitude journal together. Get a cheap journal and put it on your nightstand. At the end of the night, discuss
            at least one thing you were grateful for that day and record it in the journal. Over time, you will have a treasured
            keepsake of positivity. </p>



        <h2>Pro Tip</h2>
        <p>
            To work on putting your gratitude into action, create a "service jar" either literally or figuratively. If you make a physical
            jar, put it on your nightstand next to your gratitude journal and empty all of your loose change into it each
            night. If you chose to keep it virtual, make a set budget each month to donate. At least once a month, decide
            together where you would like to donate your service jar money. There are endless good causes to contribute to.
        </p>
        <hr/>
    </section>
    <section>

        <figure class="fullwidth">
            <img src="https://gallery.mailchimp.com/f0f955bc59f272fc94ff6d1a3/images/99d984f3-9abf-4eb6-9c21-d13ef549d70e.jpg" alt="Piles of closed and open books"
            />
        </figure>
        <h1>Suggested Study</h1>
        <ul>
            <li>
                <em>Who Really Cares</em> by Arthur C. Brooks</li>
        </ul>
    </section>
</article>