<article>
    <p>
        Last week we talked about gratitude. A grateful disposition can reduce some forms of conflict, but it will not cure everything.
        Some conflict is even healthy.
        <strong> In this lesson we will discuss methods to come together in a healthy way when facing conflict in your relationship.
        </strong>
    </p>

    <section>
        <h1>Conflict Resolution</h1>
        <p class="caption">Coming Together</p>
        <figure class="fullwidth">
            <img src="https://gallery.mailchimp.com/f0f955bc59f272fc94ff6d1a3/images/a6cb55b6-726a-4274-b088-4ca20adf0993.jpeg" alt="A woman holding her head in frustration"
            />
        </figure>

        <blockquote>
            <p>In order to get to a healthier and more productive place, we need to give up our fear of conflict, turmoil and
                resistance.
            </p>
            <footer>-John Gottman</footer>
        </blockquote>

        <p>Within Everflect there is a specific section for conflict resolution. Some couples may not know exactly how to approach
            this section. You are not alone. There are many ways to go about resolving conflict, but some of the most traditional
            responses are less than ideal. In John Gottman's research
            <label for="sn-gottman-conflict" class="margin-toggle sidenote-number"></label>
            <input type="checkbox" id="sn-gottman-conflict" class="margin-toggle" />
            <span class="sidenote">Gottman, John Mordechai, and Nan Silver. The seven principles for making marriage work: a practical guide from
                the country’s foremost relationship expert. Harmony Books, 2015</span>
            , he found several common conflict resolution practices that were signs of deeper relationship struggles. Here we will discuss
            four red flag behaviors to watch out for and refrain from as you Everflect.</p>

        <p>1.
            <strong>Criticisms</strong> are global statements about your spouses's character or personality. Unlike a complaint which
            addresses a specific situation, criticism casts a shadow on your spouse in general. A common phrase that may
            help differentiate is to "hate the sin not the sinner". When you bring up issues while you Everflect, be aware
            of what you are addressing. "You're so lazy, you never help around here!" attacks your spouse's character. Instead, address
            a specific concern: "I could really use help around the house, which is why it bothered me that you didn't take
            out the trash." Conflict is about specific situations, not about specific people. </p>

        <blockquote>
            <p>"Converting a complaint into a positive need requires a mental transformation from what is wrong with one’s partner
                to what one’s partner can do that would work."</p>
            <footer>-John M. Gottman
                <label for="sn-gottman-complaint" class="margin-toggle sidenote-number"></label>
                <input type="checkbox" id="sn-gottman-complaint" class="margin-toggle" />
                <span class="sidenote">Gottman, John Mordechai, and Nan Silver. The seven principles for making marriage work: a practical guide
                    from the country’s foremost relationship expert. Harmony Books, 2015</span>
            </footer>
        </blockquote>

        <p>2.
            <strong>Contempt</strong> is childish bully behavior. Things such as eye-rolling, sarcasm, sneering, belittling, rude
            humor, or cynicism falls under contempt. “Belligerence” also fits in this section, which is conflict that contains
            a threat or provocation. If this type of behavior has come up constantly when you Everflect, stop it! If you
            continue to struggle with contempt, it may be time for you to consider receiving professional help to improve
            the underlying issues. </p>

        <p>3.
            <strong>Defensiveness</strong> is a way of blaming your spouse. It is in opposition to humility, vulnerability, and meaningful
            listening. Defensiveness is a common tactic when you are feeling attacked or unloved. If you have become defensive
            when your spouse gives you feedback as you Everflect, you may have noticed that it escalated the conflict at
            hand. Defensiveness rarely leads to an apology during conflict resolution. Hopefully some of the other topics
            we have covered such as vulnerability, love languages, and validation have eased your need to be defensive. If
            you or your spouse are still leaning on this, consider seeking additional help. </p>

        <p>4.
            <strong>Stonewalling</strong> is ultimately tuning out your spouse in ways such as the “silent treatment”. The previous
            behaviors, if gone unchecked, often lead to stonewalling. In order to avoid a complete breakdown, some couples
            resort to stonewalling each other. This also leads to living "parallel lives" where you may continue living together,
            doing activities together, and going about your day together, but you never actually emotionally connect. One
            of Everflect's intentions is to give you space each week to insure your relationship against stonewalling and
            parallel-living. Avoiding conflict is a conflict in and of itself. </p>

        <p>If you are using any of these methods as an attempt to resolve conflict, stop. If you are beginning your conflict
            resolution section (or others) with such behaviors, you are inviting more conflict rather than inviting a resolution.
            Gottman suggests that if you are beginning a conversation this way, table the discussion for another time. </p>

        <p>So what
            <em>can </em>you do to resolve conflict in a healthy way? The methods are as unique as your relationship. There is
            no perfect blanket answer, but there is an important characteristic to seek:
            <strong>friendship</strong>.</p>

        <p>As Gottman points out, friendship does not mean that you won’t fight, but it does provide a setting where quarrels
            will not get out of hand. When you are truly friends, you see problems as "ours" and you work to support each
            other. Avoiding the behaviors above, while seeking a deeper friendship with your spouse will naturally lead to
            healthier conflict resolution.</p>

    </section>

    <figure class="fullwidth">
        <img src="https://gallery.mailchimp.com/f0f955bc59f272fc94ff6d1a3/images/1aec40fe-fe76-4221-80b2-860f4cbf26ba.jpg" alt="A blank sketchbook with a pencil on a wooden floor"
        />
    </figure>

    <section>
        <h1>Activity</h1>

        <p>If you haven’t already, plan a fun date night for this week where you can naturally get to know each other better
            (something like a movie where you will not talk does not count). Going on a date every week and doing a variety
            of activities each week can help you become better friends. If you cannot think of what to do, try reminiscing
            by remaking your very first date.</p>

        <h2>Pro Tip</h2>
        <p>Maybe things are sailing along smoothly for your relationship and you find yourself coming up empty during the conflict
            resolution section. If you feel there is nothing to be resolved this week, try doing something fun such as playing
            "Rock, Paper, Scissors.” Keep track of your winnings each week so that when something does come up, you have
            a tally of which spouses's opinion will weigh more heavily.</p>
        <hr/>
    </section>
    <section>

        <figure class="fullwidth">
            <img src="https://gallery.mailchimp.com/f0f955bc59f272fc94ff6d1a3/images/99d984f3-9abf-4eb6-9c21-d13ef549d70e.jpg" alt="Piles of closed and open books"
            />
        </figure>
        <h1>Suggested Study</h1>
        <ul>
            <li>
                <em>The Seven Principles that Make a Marriage Work</em> by John Gottman</li>
        </ul>
    </section>
</article>