<article>
    <p>
        In the previous lesson, we discussed conflict resolution. After the high energy of solving conflict, and in other moments
        throughout Everflecting, you may experience silence.
        <strong>In this lesson, we will discuss how to utilize and be mindful of silence.</strong>
    </p>

    <section>
        <h1>Silence</h1>
        <p class="caption">Be Still. Be Mindful.</p>
        <figure class="fullwidth">
            <img src="https://gallery.mailchimp.com/f0f955bc59f272fc94ff6d1a3/_compresseds/cc4132ea-db67-4e88-a12f-f473a41370a7.jpg"
                alt="A hiker sits on a bench staring out at mountains" />
        </figure>

        <p>There is no such thing as an "awkward silence" when you Everflect. Unless you invent one.</p>

        <p>Silence is actually a beautiful gift. Even in simple situations such as finishing a section of Everflect before your
            spouse, you do not need to “wait." As Mr. Magorium says after being told to wait, "
            <em>No - we breathe. We pulse. We regenerate. Our hearts beat. Our minds create. Our souls ingest. 37 seconds well
                used is a lifetime."</em>
            <label for="sn-thirty-seven-seconds" class="margin-toggle sidenote-number">
            </label>
            <input type="checkbox" id="sn-thirty-seven-seconds" class="margin-toggle" />
            <span class="sidenote">Mr. Magorium’s Wonder Emporium, 20th Century Fox, 2008</span>
        </p>

        <p>When you sit down to Everflect with your spouse, be present. This is a special, sacred, rare time you have with your
            spouse. It is happening
            <strong>now</strong>. The way you feel about Everflecting with your spouse may very well be more important than the act
            itself. A great way to achieve the right spirit when you Everflect, is a practice called mindfulness. </p>

        <p>Mindfulness is the practice of being present. It is used as a therapeutic technique wherein someone focuses on the
            here-and-now while calmly acknowledging their thoughts, feelings and physical sensations. As you Everflect with
            your spouse, focus on every detail happening now. There is no need to let your mind jump ahead to the goal you
            want to set with them,
            <em>you will get there</em>. </p>

        <p>Acknowledge the thoughts that are running on the stage of your mind, focus on your present emotions and feelings
            and let the physical sensations - as simple as how your hand feels holding your phone right now - run through
            you.
        </p>

        <p>It is also important to be ok with whatever those thoughts and feelings may be. Sit with them. Validate them. As
            you really look into your spouse’s eyes, you may feel a sense that time has slowed down. You are finally
            <em>here</em>. Here with your spouse in the present, in a way that you have never quite experienced before. Or perhaps
            in a way that you only get brief tastes of. It is almost like standing up in the river of time and letting it
            flow around you.
        </p>

        <p>Take the time to appreciate where you and your spouse are as of right now. Planning and goal setting are still important,
            but in order to go anywhere you have to start where you are.</p>


        <blockquote>
            "If we hope to go anywhere or develop ourselves in any way, we can only step from where we are standing. If we don't really
            know where we are standing... We may only go in circles..."
            <footer>
                Jon Kabat-Zinn
                <label for="sn-going-in-circles" class="margin-toggle sidenote-number">
                </label>
                <input type="checkbox" id="sn-going-in-circles" class="margin-toggle" />
                <span class="sidenote">Kabat-Zinn, Wherever You Go, There You Are: Mindfulness Meditation in Everyday Life. New York: Hyperion,
                    1994
                </span>
            </footer>
        </blockquote>

        <p>In order to move forward, you must start now. In the here-and-now. Start today from where you already are, which
            is with your spouse. </p>

        <p>On occasion, you may even meet these moments in the hectic every day setting. In those moments, find yourself looking
            at your spouse, smiling and saying "hi" as if you are meeting them again for the very first time, for you are
            truly meeting the person they are
            <em>today</em> for the very first time. </p>

    </section>

    <figure class="fullwidth">
        <img src="https://gallery.mailchimp.com/f0f955bc59f272fc94ff6d1a3/images/1aec40fe-fe76-4221-80b2-860f4cbf26ba.jpg" alt="A blank sketchbook with a pencil on a wooden floor"
        />
    </figure>

    <section>
        <h1>Activity</h1>

        <p>
            Take some time at the end of your Everflect session this week to sit in the stillness with your spouse. You may want to move
            to a front porch or other outdoor setting. There is no need to speak. Enjoy the silence together for at least
            5 minutes and focus on the here-and-now.
        </p>


        <h2>Pro Tip</h2>
        <p>If you are religious, start and end your Everflect session with a prayer. If not, you may still consider starting
            and ending with a different mindfulness exercise such as meditation.</p>
        <p>Remember that whatever you feel during these exercises is ok. Take some time to practice vulnerability and content
            communication after mindfulness exercises to share your thoughts and feelings.</p>
        <hr/>
    </section>
    <section>

        <figure class="fullwidth">
            <img src="https://gallery.mailchimp.com/f0f955bc59f272fc94ff6d1a3/images/99d984f3-9abf-4eb6-9c21-d13ef549d70e.jpg" alt="Piles of closed and open books"
            />
        </figure>
        <h1>Suggested Study</h1>
        <ul>
            <li>
                <em>Wherever You Go, There You Are</em> by Jon Kabat-Zinn</li>
        </ul>
    </section>
</article>