<article>
    <h1>How to Everflect</h1>
    <figure class="fullwidth">
        <img src="https://gallery.mailchimp.com/f0f955bc59f272fc94ff6d1a3/images/3a364de2-8b33-45f3-8c43-4b080d029c0b.jpg" alt="View of the sun with a leafy plant"
        />
        <hr/>
    </figure>
    <section>
        <p> We are grateful that you and your spouse have chosen to improve your relationship by Everflecting together. To assist
            in improving your experience, we offer Everflect's how-to coursework. The lessons within this library will provide
            you with skills to enhance your Everflect experience, but are also easily applicable to your life in general.
            They are bite-sized sessions that draw from well-researched and proven-in-practice principles.</p>

        <p> Although you can read the lessons on your own time, we suggest that you read one-per-week as a couple. The lessons
            are laid out as follows: </p>

        <ol>
            <li>Explanation and description of the topic</li>
            <li>Activities for implementation</li>
            <li>Suggested further study</li>
        </ol>
        <p>To give you a taste, we have provided the first lesson for FREE. If the lesson style seems like a good fit for you
            and your spouse, we encourage you to discuss purchasing the whole library. This one-time purchase unlocks the
            lessons for both you
            <em>and</em> your spouse. It is less expensive than your average self-help book! (Plus, showing your support by upgrading
            enables us to devote more time to polishing Everflect and other family-oriented products). </p>

        <p>However you decide to utilize the coursework, we hope that it is an uplifting and strengthening experience for you
            as a couple. If you have any questions, concerns, or feedback please feel free to e-mail us at
            <a href="mailto:hello@everflect.com">hello@everflect.com</a>.</p>

    </section>
</article>